[submodule "apps/sockshop"]
	path = apps/sockshop
	url = git@github.com:microservices-demo/microservices-demo.git
[submodule "apps/onlineboutique"]
	path = apps/onlineboutique
	url = git@github.com:GoogleCloudPlatform/microservices-demo.git
[submodule "apps/oteldemo"]
	path = apps/oteldemo
	url = git@github.com:open-telemetry/opentelemetry-demo.git
[submodule "apps/deathstarbench"]
	path = apps/deathstarbench
	url = git@github.com:delimitrou/DeathStarBench.git
[submodule "apps/oteldemo-2.0.0"]
	path = apps/oteldemo-2.0.0
	url = git@github.com:open-telemetry/opentelemetry-demo.git
[submodule "apps/oteldemo-1.12.0"]
	path = apps/oteldemo-1.12.0
	url = git@github.com:open-telemetry/opentelemetry-demo.git
[submodule "socialnetwork-0.1.0"]
	path = apps/socialnetwork-0.1.0
	url = git@github.com:delimitrou/DeathStarBench.git
[submodule "socialnetwork-0.2.0"]
	path = apps/socialnetwork-0.2.0
	url = git@github.com:delimitrou/DeathStarBench.git
[submodule "apps/onlineboutique-0.10.0"]
	path = apps/onlineboutique-0.10.0
	url = git@github.com:GoogleCloudPlatform/microservices-demo.git
[submodule "apps/onlineboutique-0.9.0"]
	path = apps/onlineboutique-0.9.0
	url = git@github.com:GoogleCloudPlatform/microservices-demo.git
[submodule "apps/onlineboutique-0.4.2"]
	path = apps/onlineboutique-0.4.2
	url = git@github.com:GoogleCloudPlatform/microservices-demo.git
[submodule "apps/train-ticket"]
	path = apps/train-ticket
	url = git@github.com:FudanSELab/train-ticket.git
